html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem; 
}

#game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px; 
  gap: 10px; 
}

#start-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 240px; 
}

#message-container {
  width: 100%;
  max-width: 240px; 
  text-align: center;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  border: solid black 0.5px; 
  background-color: black;
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
  max-width: 260px; 
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4); 

}

.square {
  width:100px;  
  height:100px;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem; 
  cursor: pointer;
  border-radius: 1rem;
  transition: opacity 0.3s;
}

.game-BTN{
    width: 240px;
    height: 2rem;
    border-radius: 0.5rem;
    
    color: #fff;
    font-size: 1rem;
}

#set-custom-colors{
  background-color: #8a8a8a;

}
#set-custom-colors:hover{
  background-color: #dddddd;
  color: #000000;

}

.game-BTN:hover{
    background-color: #484848;
}

#button-1 { background-color: red; }
#button-2{ background-color: blue; }
#button-3 { background-color: green; }
#button-4 { background-color: yellow; }

.square:hover {
  opacity: 0.8;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 1000;
    width: 70%;
    height:fit-content ;
    
}

.popup p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

#default-colors-btn{
    padding: 0.5rem 1rem;
    border: dotted black 2px;
    border-radius: 0.5rem;
    
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#default-colors-btn:hover{
  
    background-color: rgb(133, 133, 133);
}   

#special-colors-btn{
    padding: 0.5rem 1rem;
    border:dotted black 2px;
    border-radius: 0.5rem;
    
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}

#special-colors-btn:hover{
    background-color:rgb(133, 133, 133);
}


.popup button:hover {
    background-color: #484848;
}

#popup-buttons{
  display: none; 
  margin: 1rem;
  gap: 10px; 
  justify-content: center;
}

#popup-message{
  font-size: 1.5rem;

}
#close-popup{
  background-color: #bbbbbb;
  color:#000000;
}

#close-popup:hover{
  background-color: #3c3c3c;
  color:#ffffff;
}

.hidden {
    display: none;
}
h1{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-bottom: 25px; 
}

.title-container h1 {
    margin-bottom: 10px; 
}

.title-container .instructions ul {
    padding-left: 0;
    list-style: none;
}

.title-container .instructions li {
    margin: 5px 0;
}

.decorative-squares {
    display: inline-block;
    justify-content: center; 
    gap: 1rem;
    margin-bottom: 1rem;

}

.decor-square {
    width: 15px; 
    height: 15px; 
    border-radius: 0.3rem; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
    display: inline-block;
}



#r{
    background-color: red;
}

#g{
    background-color: green;
}
#b{
    background-color: blue;
}

#y{
    background-color: yellow;
}

#r1{
    background-color: #8A2BE2;
}

#b1{
    background-color: #FF69B4;
}
#g1{
    background-color: #ed842eff;
}

#y1{
    background-color: #00dcb4ff;
}

#default-colors-btn{
  margin: 2rem;
  width: fit-content;
  height: fit-content;
}
#special-colors-btn{
  margin: 2rem;
  width: fit-content;
  height: fit-content;
}

#popup-container {
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;          
}


/* --- tablet --- */
@media (min-width: 600px) {
  .square {
    width: 120px;  
    height: 120px; 
    font-size: 28px; 
  }

  #start-container, #message-container, .square-container {
    max-width: 300px; 
  }

  .decor-square {
        width: 18px;
        height: 18px;
    }

   
}

/* --- pc --- */
@media (min-width: 780px) {
  .square {
    width: 140px;  
    height: 140px; 
    font-size: 2rem; 
  }

  #start-container, #message-container, .square-container {
    max-width: 340px; 
  }
  .decor-square {
        width: 20px;
        height: 20px;
    }
}