/*kebab-case*/
img{
    width:200px;
}

ul{
    list-style: none;
    padding-left: 0px;
    /* rimuove lo stile delle list di base toglie il puntino*/
}

.on-sale{
    background-color: yellow;
}

#first-list li{
    background-color: pink;
}

#second-list li{
    background-color: aqua;
}

#best-one{
    background-color: blueviolet;
}

a:hover li{
    border:3px solid black;

}